body {
    font-family: "Lato";
    background-color: white;
}

header {
    background-color: #00999e !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: "Lato";
}

.headImage {
    height:300px;
    border-radius: 50%;
}


#theNav, #theCopy {
    background-color: #410064;
}

.space-back {
    background-color: #00999e;
}
.space-text {
    color: #410064;
}

.nav-link {
    color: white;
}

.nav-item:hover {
    cursor:pointer;
}

hr.style0 {
    border: 0;
    height: 4px;
    width: 70%;
    background: white;
}

hr.style1 {
    border: 0;
    height: 4px;
    background: white;
}

hr.style2 {
    border: 0;
    height: 4px;
    background: #410064;
}

a:hover {
    color:#410064;
}

.portfolioTag {
    color: #410064;
}

.border {
    border-width: 2px !important;
    border-color: #410064 !important;
}

#portTab:hover, #aboutTab:hover, #contactTab:hover {
    background: #00999e;
}

#navTop {
    cursor: pointer;
}

p {
    text-indent: 10px;
}

/* Contact Modal */
